.popover {
    position:absolute;
    display:none;
    background:#ffffff;
    border: 1px solid #999;
    padding:10px;
    width:auto;
    max-width: 500px;
    max-height: 500px;
    box-shadow:0 0 10px rgba(0, 0, 0, .5);
    text-align: left;
    z-index: 10;
}

#cal1{
    position:absolute;
    height:0px;
    width:0px;
    top:100px;
    left:100px;
    overflow:none;
    z-index:-100;
}
#cal2{
    position:absolute;
    height:0px;
    width:0px;
    top:0px;
    left:0px;
    overflow:none;
    z-index:-100;
}

.contentGroup{
    display: flex;
    flex-flow: row-reverse;
}

