:root {
    --sidemenu-width: 250px;
    --sidemenu-width-negative: -250px;
}

body {
    overflow: hidden;
}

.self-navbar {
    display: grid;
    grid-template-rows: [one] 50px;
    grid-template-columns: [left-start] auto [left-end] auto [right-end];
    padding: 0px 10px 0px 10px;
    align-items: center;
    position: sticky;
    z-index: 10;
    width: 100%;
    background-color: #fff;
}

.navbar-section--left {
    justify-content: flex-start;
    grid-column: left-start / left-end;
}

.navbar-section--left,
.navbar-section--right {
    grid-row: one;
    display: inline-flex;
    align-items: center;
    height: 50px;
}

.navbar-section--right {
    justify-content: flex-end;
    grid-column: left-end / right-end;
}

.self-navbar .navbar-item {
    height: 100%;
    padding: 0 15px 0 15px;
    display: inline-flex;
    align-items: center;
}

.self-main {
    grid-row: row-navbar--end / row-main--start;
    padding-top: 10px;
    transition: all 0.5s;
    transform: translate3d(0, 0, 0);
    overflow-y: scroll;
    background-color: #F9F9F9;
    width: inherit;
}

.self-main::-webkit-scrollbar,
.self-main::-webkit-scrollbar-thumb {
    visibility: visible;
}

.self-main::-webkit-scrollbar {
    visibility: visible;
    width: .2em !important;
}

.self-main::-webkit-scrollbar-thumb {
    visibility: visible;
    background-color: darkgrey !important;
    outline: 1px solid slategrey !important;
}

.page-note {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.self-note--card {
    margin: 5px;
    transition: box-shadow .3s;
    border-radius: 5px !important;
}

.self-note--card:hover {
    box-shadow: rgba(0, 0, 0, 0.14) 0px 9px 46px 8px, rgba(0, 0, 0, 0.12) 0px 11px 15px -7px, rgba(0, 0, 0, 0.2) 0px 24px 38px 3px;
    z-index: 10;
}

.self-socials--button {
    font-size: 14px !important;
    color: #fff !important;
    margin: 0 8px 0 8px !important;
}

.self-google--signin {
    background-color: #e93f2e !important;
}

.self-facebook--signin {
    background-color: #1976D2 !important;
}

.self-evernote--signin {
    background-color: #2ac05d !important;
}

.self-row {
    display: inline-flex;
    justify-content: space-between;
}

.self-column {
    display: flex;
    flex-flow: column;
}

.self-navbar--user .navbar-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

.navbar-label {
    padding: 0 10px 0 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.473);
}

.self-onchildhover--grey .navbar-item:hover,
.self-onhover--grey:hover {
    transition: background-color .3s;
    background-color: #f5f5f5;
}

.self-font--26 {
    font-size: 26px !important;
}

.self-dropdown--list {
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50px;
    right: 25px;
    background-color: #fff;
    transform: translateY(-2em);
    list-style: none;
    padding: 0;
    width: 0;
    margin: 0;
    transition: all .3s ease-in-out .2s, opacity .2s linear 0.3s, z-index .1s linear 0.1s;
    display: block;
    flex-flow: column;
}

.self-dropdown--list>* {
    padding: 10px;
    align-content: center;
}

.dropdown-open {
    visibility: visible;
    opacity: 1;
    z-index: 10;
    transform: translateY(0%);
    width: 170px;
}

.self-sidemenu .sidebar-item {
    padding: 10px;
    display: inline-flex;
    align-content: center;
    transition: background-color .3s, box-shadow 0.3s;
}

.self-sidemenu .sidebar-item:hover {
    color: #fff;
    background-color: rgb(40, 42, 60);
}

.sidebar-item.active {
    color: #fff;
    background-color: rgb(40, 42, 60);
    box-shadow: inset -3px 2px 2px 0px rgba(0, 0, 0, .14)
}

.self-sidemenu .sidebar-item>i {
    margin-right: 10px;
}

.self-sidemenu .sidebar-header {
    display: inline-flex;
    align-items: center;
    padding: 20px 10px 20px 10px;
    background-color: #2d2f40;
    font-size: 1.3rem;
    font-weight: 400;
    cursor: initial;
}

.self-sidemenu .header-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 5px;
}

.sidebar-main-wrapper {
    display: inline-flex;
    height: -webkit-fill-available;
    background-color: #F9F9F9;
    width: inherit;
}

.mdl-card {
    max-height: 250px !important;
}

.self-mdl-card {
    overflow-y: scroll !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.self-mdl-card:hover::-webkit-scrollbar,
.self-mdl-card:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.self-mdl-card::-webkit-scrollbar {
    visibility: hidden;
    width: .2em !important;
}

.self-mdl-card::-webkit-scrollbar-thumb {
    visibility: hidden;
    background-color: darkgrey !important;
    outline: 1px solid slategrey !important;
}

.self-sidemenu {
    display: flex;
    flex-flow: column;
    min-width: var(--sidemenu-width);
    max-width: var(--sidemenu-width);
    width: var(--sidemenu-width);
    background-color: #2d2f40;
    color: #c4c5c7;
    height: -webkit-fill-available;
    transition: all 0.5s;
    transform: translate3d(0, 0, 0);
}

.sidemenu--btn i {
    transform: rotate(0);
    transition: transform .5s !important;
}

.sidemenu--btn.sidemenu-open i {
    transform: rotate(-90deg);
}

.sidemenu-close {
    visibility: visible;
    transition: transform .5s;
    transform: translate3d(-100%, 0, 0);
}

.sidemenu-close~.self-main {
    transition: transform .4s;
    min-width: fit-content;
    transform: translate3d(var(--sidemenu-width-negative), 0, 0);
}

.pointer,
.children-pointer>* {
    cursor: pointer;
}