.self-socials--button{
    font-size: 14px !important;
    color: #fff  !important;
    margin: 0 8px 0 8px !important;

}
.self-google--signin{
    background-color: #e93f2e !important;
}

.self-facebook--signin{
    background-color: #1976D2 !important;
}

.self-evernote--signin{
    background-color: #2ac05d !important;
}

.self-row{
    display: inline-flex;
    justify-content: space-between;
}
.self-column{
    display: flex;
    flex-flow: column;
}