body {
    max-height: 300px;
    min-width: 460px;
    margin: 0;
}

.navMenu {
    min-height: 40px;
    padding: 5px 10px 5px 10px;
    background-color: var(--header-main-color);
    border-radius: 2px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
}

