ul{
    min-width: 275px;
    border: 0;
}
.clickable{
    cursor: pointer;
}

.mdc-list>a:hover,
.mdc-list>div:hover{
    background-color: rgba(226, 226, 226, 0.86);    
    border-radius: 5px;
}


.mdc-list{
    padding:8px 1px 0 !important;
}

div.mdc-switch{
    margin-right:0; 
    margin-left:32px; 
}

i.mdc-list-item__start-detail{
    margin-right: 20px;
}
