body{
    min-width: 330px;
    margin: 5px;
}
.clickable{
    cursor: pointer;
}
.navMenu{
    height: 40px;
    padding:10px 10px 0 10px;
    background-color: rgb(209, 209, 209);
    border-radius: 2px;
}

.btnArea{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.noteTitle{
    margin: 5px 0 5px 0;
}

.content .notesArea{
    display: flex;
    flex-flow: column;
}

.margin-5{
    margin:0 5px 0 5px;
}

.noteItem{
    display: flex;
    justify-content: space-between;
}

.hidden{
    display: none;
}